.container {
    width: 50%;
    margin-left: 10%;
    /* background-color: #282828; */
}
.lgPara {
    font-size: 20px;
    opacity: 0.85;
}
.button {
    border-radius: 3px;
    border: 2px solid;
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 20px;
}
.btnDark {
    background-color: #282828;
    color: white;
    border-color: #282828;
}
.btnLight {
    background-color: white;
    color: #282828;
    border-color: white;
}
.btnLD {
    background-color: #282828;
    color: white;
    border-color: white;
}
.linkDark {
    color: #282828;
    font-weight: bold;
}
.linkLight {
    color: white;
    font-weight: bold;
}


.cardsContainer {
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 40px;
}
.card {
    width: 70%;
    height: 80%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    display: flex;
    flex-flow: column;
    padding: 10px;
    margin: auto;
    margin-left: 0;
    margin-right: 0;
}
@media only screen and (max-width: 800px) {
    .cardsContainer {
        display: grid;
        grid-template-columns: auto;
    }
    .card {
        width: 90%;
        height: 90%;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        border-radius: 5px;
        display: flex;
        flex-flow: column;
        padding: 10px;
        margin: auto;
    }
}
  
  .cardHeading {
    font-size: 20px;
    font-weight: bold;
    text-align: left;
    margin-bottom: 25px;
  }
  
  .cardContent {
    flex: 1;
    margin-bottom: 25px;
    text-align: left;
    line-height: 1.5;
    color: grey;
  }
  
  .cardList {
    flex: 1;
    margin-bottom: 25px;
    text-align: left;
    line-height: 1.5;
  }
  
  .cardListItem {
    margin-bottom: 10px;
  }
  
  .cardListNumber {
    font-weight: bold;
    margin: 0px 15px;
  }
  
  .cardFooter {
    cursor: pointer;
  }
  


.leftAlign {
  text-align: left;
}

.rowContainer {
  height: auto; 
  display: flex; 
  flex-direction: row;
  justify-content: center;
  flex-flow: wrap;
  align-content: center, 
}

.imageBox {
  margin: 50px 15px; 
  display: flex;
  align-content: center;
  column-gap: 20px;
}

.textBox {
  margin: 50px 15px; 
}

.narrow {
  width: 25%;
}

.wide {
  width: 30%;
}

.containerWide p, .containerNarrow p {
  margin: 40px 0px;
}

.adjacentHalfWidthButtons {
  width: 50%; 
  margin: 0px 2px;
}

.halfWidthButton {
  width: 50%; 
}

.buildYourTeamCreateYourProject {
  padding: 10px;
  background-color: #282828;
  color: white; 
}

.buildYourTeamImage {
  display: flex;
  align-content: center;
}

.buildYourTeamOuterBox {
  padding-left: 2%;
  display: flex;
  align-content: center;
  border-radius: 10px;
}

.buildYourTeamInnerBox {
  background-color: white;
  padding: 10%;
  border-radius: 10px;
}

.communityOrProjectsDiv {
  padding: 10px;
  background-color: white;
}

.projectImages {
  display: flex;
  align-content: center;
  justify-content: space-evenly;
}

@media screen and (max-width: 1000px) {
  .textBox, .imageBox {
      width: 40%; 
  }
}
@media screen and (max-width: 600px) {
  .textBox, .imageBox {
      width: 100%; 
  }
}
.postContaiener {
  width: 300px;
}