.test {
    color: red;
}
.mainTitle {
    opacity: 0.9;
    margin: auto;
    margin-bottom: 10px;
}
.secondaryTitle {
    text-align: start;
    opacity: 0.8;
}
.eventsContainer {
    display: grid;
    grid-template-columns: auto auto;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    row-gap: 10px;
    column-gap: 20px;
    margin-bottom: 20px;
}
.ECActive {
    position: sticky;
    z-index: 1;
    top: 85px;
}
@media only screen and (max-width: 800px) {
    .ECActive {
        top: 65px;
    }
    .eventsContainer {
        grid-template-columns: auto;
    }
}
.event {
    padding-left: 15px;
    padding-right: 15px;
    display: grid;
    grid-template-columns: auto auto;
    border-radius: 50px;
    border: 2px solid;
}
.eventSelected {
    position: sticky;
    z-index: 3;
    top: 85px;
    padding-left: 15px;
    padding-right: 15px;
    color: white;
    display: grid;
    grid-template-columns: auto auto;
    border-radius: 50px;
    border: 2px solid;
}
.event:hover, .eventSelected:hover {
    cursor: pointer;
    opacity: 0.8;
    transition: opacity 0.1s;
}
.eventImage {
    width: 30px;
    margin: 5px;
    margin-left: 0;
    margin-right: 10px
}
.eventText {
    margin: auto;
}
.titleImage {
    position: sticky;
    z-index: 3;
    top: 85px;
    width: 50px;
    margin: auto;
    opacity: 0.9;
}
@media only screen and (max-width: 800px) {
    .titleImage {
        position: sticky;
        z-index: 3;
        top: 63px;
        width: 50px;
        margin: auto;
        opacity: 0.9;
    }
}
.homeWrapper {
    width: 100%;
    display: grid;
}
.resultsContainer {
    width: 60%;
    margin: auto;
    display: grid;
}
@media only screen and (max-width: 800px) {
    .resultsContainer {
        width: 95%;
        margin: auto;
        display: grid;
    }
    .homeWrapper {
        width: 100%;
        margin: auto;
    }
}
.resOptionsContainer {
    width: 100%;
    display: grid;
    grid-template-columns: 400px auto;
    flex-direction: row;
}
.SFContainer {
    display: grid;
    grid-template-columns: 200px 200px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.SFOption {
    color: #282828;
    margin: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 2px solid #282828;
    cursor: pointer;
    overflow: hidden;
}
.SFOLeft {
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
}
.SFORight {
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
}
.SFSelected {
    background-color: #282828;
    color: white;
}
.userIns {
    color: #282828;
}
.layoutWrapper {
    justify-self: end;
    border-radius: 3px;
    margin: 5px;
}
.layoutWrapper:hover {
    cursor: pointer;
    background-color: #d1d1d1;
    transition: background-color 0.1s;
}
.layoutContainer {
    width: 95%;
    margin-right: 5%;
    display: grid;
}
.layoutButtonGrid {
    overflow: hidden;
    width: 30px;
    height: 30px;
    display: grid;
    grid-template-columns: 15px 15px;
    grid-template-rows: 15px 15px;
    justify-content: center;
    align-content: center;
    border-radius: 3px;
    margin: 5px;
}
.layoutButtonStretch {
    overflow: hidden;
    width: 30px;
    height: 30px;
    display: grid;
    grid-template-columns: 30px;
    grid-template-rows: 15px 15px;
    justify-content: center;
    align-content: center;
    border-radius: 3px;
    margin: 5px;
}
.layoutBox {
    width: 60%;
    height: 8px;
    margin: auto;
    margin-bottom: 2px;
    border-radius: 2px;
    border: 2.5px solid #989898;
    display: grid;
}
.resultsContentGrid {
    width: 95%;
    margin-right: 5%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 10px;
}
.resultsContentStretch {
    width: 100%;
    /* margin-right: 5%; */
    display: grid;
    grid-template-columns: 1fr;
}
.usersContent{
    width: 95%;
    margin-left: 5%;

}

@media only screen and (max-width: 800px) {
    /* .resultsContent {
        width: 80%;
        margin: auto;
    } */
}

.homeUsersContainer {
    width: 100%;
    background-color: lightgreen;
    display: grid;
    grid-template-columns: 100%;
    align-content: flex-start;
    row-gap: 20px;
}

.formContainerExpand {
    position: fixed;
    z-index: 2;
    width: 100px;
    height: 100px;
    bottom: 0px;
    right: 0px;
    background-color: #282828;
    border-top-left-radius: 100px;
    display: grid;
}
.formExpandIcon {
    position: relative;
    width: 45px;
    left: 10px;
    top: 10px;
    margin: auto;
}