.authorContainer {
    display: grid;
    grid-template-columns: 25px auto;
    align-items: center;
    cursor: pointer;
    opacity: 0.7;
}
.userIcon {
    width: 20px;
    /* margin: auto; */
    /* margin-top: 12px; */
}
.authorName {
    /* font-weight: bold; */
    color: #282828;
    font-size: 20px;
    margin: 10px;
    margin-left: 0px;
}
.container {
    width: 50%;
    margin: auto;
}
@media only screen and (max-width: 800px) {
    .container {
        width: 100%;
        padding-left: 20px;
    }
}
.listContainer {
    width: 100%;
    padding: 0;
}
.listItem {
    list-style-type: none;
}
.title {
    text-align: start;
    margin-top: 50px;
    margin-left: 0;
}
.subTitle {
    text-align: start;
    margin-left: 0;
}
.imgTitle {
    width: 100%;
    border-radius: 3px;
}
.imgSM {
    width: 60%;
    border-radius: 3px;
}
@media only screen and (min-width: 800px) {
    .imgSM {
        width: 30%;
        margin: auto;
    }
}
.text {
    font-size: 20px;
}
.codeContainer {
    width: 100%;
    display: grid;
    background-color: #282828;
    color: white;
    white-space: pre-wrap;
    border-radius: 3px;
    padding-bottom: 20px;
}
@media only screen and (min-width: 800px) {
    .codeContainer {
        padding-left: 5%;
        font-size: 20px;
    }
}
.codeBit {
    background-color: #282828;
    color: white;
    border-radius: 3px;
    padding-left: 5px;
    padding-right: 5px;
}
.codeLike {
    background-color: #c8c8c8;
    border-radius: 3px;
    padding-left: 5px;
    padding-right: 5px;
}
.add {
    border-left: 3px solid rgb(52,166,95)
}
.remove {
    border-left: 3px solid rgb(254,52,77)
}