.UPContainsAll {
  display: flex;
  align-items: flex-start;
}

.UPContainer {
  width: 80%;
  display: flex;
}

.UPSidebar {
  width: 20%;
  display: flex;
  /* height is the same with 90vh or calc(100vh-49px)*/
  /* height: 90vh; */
  height: calc(100vh - 49px);
  flex-direction: column;
  margin-top: 49px;
}